                    .fadeInDown {
                        -webkit-animation-duration: 1.5s;
                        animation-duration: 1.5s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: fadeInDown;
                        animation-name: fadeInDown;
                    }
                    
                    @keyframes fadeInDown {
                        from {
                            -webkit-transform: translate3d(0, -100%, 0);
                            transform: translate3d(0, -100%, 0);
                        }
                        to {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                    }
                    
                    .fadeInLeft {
                        -webkit-animation-duration: 1.5s;
                        animation-duration: 1.5s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: fadeInLeft;
                        animation-name: fadeInLeft;
                    }
                    
                    @keyframes fadeInLeft {
                        from {
                            -webkit-transform: translate3d(-100%, 0, 0);
                            transform: translate3d(-100%, 0, 0);
                        }
                        to {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                    }
                    
                    .fadeInRight {
                        -webkit-animation-duration: 1.5s;
                        animation-duration: 1.5s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: fadeInRight;
                        animation-name: fadeInRight;
                    }
                    
                    @keyframes fadeInRight {
                        from {
                            -webkit-transform: translate3d(100%, 0, 0);
                            transform: translate3d(100%, 0, 0);
                        }
                        to {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                    }