@media(min-width:1400px) {
    .content {
        font-size: 26px;
    }
    .imagen-nosotros img {
        max-width: 310px;
    }
    .nosotros-content {
        margin-top: 180px;
    }
    .metas-content {
        margin-top: 220px;
    }
    .imagenes-metas img {
        max-width: 300px;
    }
    .imagenes-txt {
        font-size: 25 px;
    }
    .imagenes-metas {
        column-gap: 25px;
    }
}