/*Generales---------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

i:hover {
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
}


/*FinGenerales---------------------------------------------------------------------------------------*/


/*Clases---------------------------------------------------------------------------------------*/

.main-container {
    display: grid;
    row-gap: 5px;
    grid-template-areas: 'head head head head head head' 'nav nav nav nav nav nav' 'sec sec sec sec sec sec' 'foo foo foo foo foo foo';
}


/*Header-----------------------------------------------------------------------------------------------------*/

.header-container {
    grid-area: head;
    display: grid;
    background-color: rgb(59, 142, 209);
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.header-container img {
    max-width: 180px;
}

.nav-container {
    grid-area: nav;
    display: grid;
    grid-template-areas: 'met app cont';
    text-align: center;
    gap: 5px;
}

.nav-container a {
    background-color: rgb(64, 169, 201);
    color: white;
    text-decoration: none;
    padding: 10px;
}

.metas {
    grid-area: met;
}

.app {
    grid-area: app;
}

.contacto {
    grid-area: cont;
}

.nosotros {
    grid-area: nos;
}

.we {
    font-size: 30px
}

.goal {
    font-size: 30px
}

.appi {
    font-size: 30px
}

.conta {
    font-size: 30px
}


/*FinHeader-----------------------------------------------------------------------------------------*/


/*SectionPrincipal-----------------------------------------------------------------------------------------*/

.content {
    font-size: 18px;
}

.title {
    font-size: 40px;
    font-weight: bolder;
}

.nosotros-content {
    grid-area: nos-cont;
}

.nosotros-content img {
    max-width: 1000px;
    height: auto;
    margin: auto;
}

.metas-content {
    display: grid;
    grid-template-areas: 'txtmetas txtmetas txtmetas txtmetas txtmetas txtmetas'' imgs imgs imgs imgs imgs imgs ';
    text-align: center;
    grid-area: sectionMetas;
}

.texto-metas {
    margin-top: 50px;
}

.texto-metas h1 {
    color: rgb(59, 142, 209);
    font-size: 30px;
}

.imagenes-metas {
    grid-area: imgs;
    display: grid;
    column-gap: 10px;
    grid-template-areas: 'img1 img1 img2 img2 img3 img3';
}

.imagenes-metas img {
    max-width: 200px;
    transition: 0.2s ease-in-out 0.2s;
    text-align: center;
}

.texto-metas {
    grid-area: txtmetas;
}

.img1-metas {
    grid-area: img1;
}

.img2-metas {
    grid-area: img2;
}

.img3-metas {
    grid-area: img3;
}

.show {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.section-container {
    grid-area: sec;
    display: grid;
    grid-template-areas: 'nos-cont nos-cont nos-cont nos-cont nos-cont nos-cont' 'sectionMetas sectionMetas sectionMetas sectionMetas sectionMetas sectionMetas' 'api-cont api-cont api-cont api-cont api-cont api-cont ';
}

.aplicacion-content {
    grid-area: api-cont;
    display: grid;
    grid-template-areas: 'sec1 sec1 sec1 sec1 sec1 sec1' 'sec2 sec2 sec2 sec2 sec2 sec2' 'sec3 sec3  sec3  sec3  sec3  sec3 ';
}

.aplicacion-content img {
    width: 100%;
    height: auto;
}

.section1 {
    grid-area: sec1;
    background-color: rgb(59, 142, 209);
    display: grid;
    text-align: center;
    grid-template-areas: 'imgSec1 imgSec1 imgSec1  txtSec1 txtSec1 txtSec1 ';
}

.img-section1 {
    grid-area: imgSec1;
}

.texto-section1 {
    grid-area: txtSec1;
    margin: auto;
}

.section2 {
    grid-area: sec2;
    background-color: rgb(64, 169, 201);
    display: grid;
    text-align: center;
    grid-template-areas: 'txtSec2 txtSec2 txtSec2 imgSec2 imgSec2 imgSec2';
}

.img-section2 {
    grid-area: imgSec2;
}

.texto-section2 {
    grid-area: txtSec2;
    margin: auto;
}

.section3 {
    grid-area: sec3;
    background-color: rgb(59, 142, 209);
    display: grid;
    text-align: center;
    grid-template-areas: 'imgSec3 imgSec3 imgSec3  txtSec3 txtSec3 txtSec3 ';
}

.img-section3 {
    grid-area: imgSec3;
}

.texto-section3 {
    grid-area: txtSec3;
    margin: auto;
}

.footer-container {
    grid-area: foo;
}


/*FinSectionPrincipal-----------------------------------------------------------------------------------------*/


/*FinClases---------------------------------------------------------------------------------------*/


/*Id´s---------------------------------------------------------------------------------------*/

#metas-title {
    color: white;
}

#metas-txt {
    color: white;
}

#we {
    color: white;
}

#goal {
    color: white;
}

#appi {
    color: white;
}

#contact {
    color: white;
}


/*FinId´s---------------------------------------------------------------------------------------*/


/*ClasesHover---------------------------------------------------------------------------------------*/

.imagenes-metas img:hover {
    transform: scale(1.02);
}


/*FinClasesHover---------------------------------------------------------------------------------------*/


/*Id´sHover---------------------------------------------------------------------------------------*/


/*FinId´sHover---------------------------------------------------------------------------------------*/