/*Generales---------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}

i:hover {
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
}


/*FinGenerales---------------------------------------------------------------------------------------*/


/*Clases---------------------------------------------------------------------------------------*/

.main-container {
    display: grid;
    row-gap: 5px;
    grid-template-areas: 'head head head head head head' 'nav nav nav nav nav nav' 'sec sec sec sec sec sec' 'foo foo foo foo foo foo';
}


/*Header-----------------------------------------------------------------------------------------------------*/

.header-container {
    grid-area: head;
    display: grid;
    background-color: rgb(59, 142, 209);
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.header-container img {
    max-width: 180px;
}

.nav-container {
    grid-area: nav;
    display: grid;
    grid-template-areas: 'nos met app cont';
    text-align: center;
    gap: 5px;
}

.nav-container a {
    background-color: rgb(64, 169, 201);
    color: white;
    text-decoration: none;
    padding: 10px;
}

.metas {
    grid-area: met;
}

.app {
    grid-area: app;
}

.contacto {
    grid-area: cont;
}

.nosotros {
    grid-area: nos;
}

.we {
    font-size: 30px
}

.goal {
    font-size: 30px
}

.appi {
    font-size: 30px
}

.conta {
    font-size: 30px
}


/*FinHeader-----------------------------------------------------------------------------------------*/


/*SectionPrincipal-----------------------------------------------------------------------------------------*/

.content {
    font-size: 18px;
}

.nosotros-content {
    display: grid;
}

.title {
    color: rgb(59, 142, 209);
    font-size: 40px;
}

.metas-content {
    display: grid;
    grid-template-areas: 'txtmetas txtmetas txtmetas txtmetas txtmetas txtmetas'' imgs imgs imgs imgs imgs imgs ';
    margin-top: 200px;
    text-align: center;
}

.texto-metas h1 {
    color: rgb(59, 142, 209);
    font-size: 30px;
}

.imagenes-metas {
    grid-area: imgs;
    display: grid;
    column-gap: 10px;
    grid-template-areas: 'img1 img1 img2 img2 img3 img3';
}

.imagenes-metas img {
    max-width: 200px;
    transition: 0.2s ease-in-out 0.2s;
    text-align: center;
}

.texto-metas {
    grid-area: txtmetas;
}

.img1-metas {
    grid-area: img1;
}

.img2-metas {
    grid-area: img2;
}

.img3-metas {
    grid-area: img3;
}

.show {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.hide {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.section-container {
    grid-area: sec;
    display: grid;
}

.footer-container {
    grid-area: foo;
}


/*FinSectionPrincipal-----------------------------------------------------------------------------------------*/


/*FinClases---------------------------------------------------------------------------------------*/


/*Id´s---------------------------------------------------------------------------------------*/

#metas-title {
    color: white;
}

#metas-txt {
    color: white;
}


/*FinId´s---------------------------------------------------------------------------------------*/


/*ClasesHover---------------------------------------------------------------------------------------*/

.imagenes-metas img:hover {
    transform: scale(1.02);
}

#we {
    color: white;
}

#goal {
    color: white;
}

#appi {
    color: white;
}

#contact {
    color: white;
}


/*FinClasesHover---------------------------------------------------------------------------------------*/


/*Id´sHover---------------------------------------------------------------------------------------*/


/*FinId´sHover---------------------------------------------------------------------------------------*/