@media(max-width:450px) {
    .imagenes-metas {
        grid-template-areas: 'img1 img1'' img2 img2' 'img3 img3';
        row-gap: 100px;
    }
    .nosotros-content {
        grid-template-areas: 'imgnos  imgnos''  txtnos txtnos';
        margin-left: 30px;
        margin-right: 20px;
    }
    .title {
        font-size: 24px;
    }
    .content {
        font-size: 14px;
    }
    .nosotros-content img {
        max-width: 150px;
    }
    .we {
        font-size: 25px
    }
    .goal {
        font-size: 25px
    }
    .appi {
        font-size: 25px
    }
    .conta {
        font-size: 25px
    }
    #logo {
        margin-left: 18px;
    }
}