@media(max-width:650px) {
    .imagenes-metas {
        grid-template-areas: 'img1 img1'' img2 img2' 'img3 img3';
        row-gap: 100px;
    }
    .title {
        font-size: 24px;
    }
    .content {
        font-size: 10px;
    }
    .we {
        font-size: 25px
    }
    .goal {
        font-size: 25px
    }
    .appi {
        font-size: 25px
    }
    .conta {
        font-size: 25px
    }
    #logo {
        margin: auto;
    }
    .section1 {
        background-color: black;
    }
    .section2 {
        background-color: black;
    }
    .section3 {
        background-color: black;
    }
    .texto-section1 {
        position: absolute;
        margin-top: 45px;
    }
    .texto-section2 {
        margin-top: 45px;
        position: absolute;
    }
    .texto-section3 {
        position: absolute;
        margin-top: 45px;
    }
    #img-section1 {
        opacity: 0.4;
    }
    #img-section2 {
        opacity: 0.4;
    }
    #img-section3 {
        opacity: 0.4;
    }
}